{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="card text">
	<div class="card-body" style="width: 50vw;">
		<h4 class="card-title">Register</h4>
		<form method="post">
            {% csrf_token %}
            {% if form.errors %}
            	<div class="alert alert-warning" role="alert">
            		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
            			<span aria-hidden="true">&times;</span>
            		</button>
            		<p>Your Form has errors </p>
            	</div>
            {% endif %}
            <input type="hidden" name="next" value="{{ next }}">{{ form|crispy }}<button type="submit" class="btn btn-primary btn-block">Register</button>
        </form>
        <p align="center"> Already have an account? <a href="{% url 'login' %}">Login</a> </p>
	</div>
</div>
<!--
<div class="container">
	<h1>Register</h1>
	<form method='post' enctype='multipart/form-data'>
		{% csrf_token %}
		{{ form.as_p }}
		<button type="submit">Submit</button>
	</form>
</div>
-->
{% endblock %}