{% extends 'base.html' %}

{% block title %}Scoreboard{% endblock %}

{% block content %}

<div class="container">
    <div class="header heading">
        <a class="highlighted" href="{% url 'home:train' %}">Back to training</a>
    </div>

    <div class="content text" id="Scoreboard">
        <ol>
          {% for user in users %}
              <li>
                {% if user.is_superuser %}
                    <p style="color: gold"> {{ user.username }} (Developer)</p>
                {% else %}
                    <p>{{ user.username }}</p>
                {% endif %}
                <p>{{ user.xp}} XP-Punkte</p>  
                </li>
           {% endfor %}
        </ol>
</div></div>

{% endblock %}

