{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Start{% endblock %}

{% block content %}
<!-- interate through all posts, sorted by date-->
<head>
	<script>
		let numberOfExercisesTodo = 10;
		let updateTime = 31;

		var timerIsRunning = false;
		var points = 0;
		var exercicesDone = 0;
		var counter = updateTime - 1;

		function Timer() {
			counter--;
			document.getElementById("remainingTime").innerHTML = "Time: " + counter;
			if (counter <= 0) {
				countUp();
				compare();
				setTimerIsRunning(false);
				clearInterval(timer);
			}
		}

		var timer;

		function countUp() {
			counter = updateTime;
			exercicesDone++;
			document.getElementById("numberOfExercices").innerHTML = "Task: " + (exercicesDone + 1) + " / " + numberOfExercisesTodo;
			if (numberOfExercisesTodo == exercicesDone) {
				exercicesDone = 0;
				// push the xp to the server
				add_xp(points);
			}
		}

		function setTimerIsRunning(val) {
			timerIsRunning = val;
			document.getElementById("answer").value = "";
		}

		var hex = "";
		var dec = 0;
		var taskDir = 0;

		function compare() {
			if (timerIsRunning) {
				let answer = document.getElementById("answer").value;
				if (taskDir == 1) { dec = parseInt(answer); } 
				else { hex = answer; }

				var style = "border-style: solid; ";
				
				if (dec.toString(16) == hex.toLowerCase()) {
					points += (updateTime - counter);
					clearInterval(timer);
					countUp();
					setTimerIsRunning(false);
					document.getElementById("remainingTime").innerHTML = "Time: 0";
					document.getElementById("points").innerHTML ="Points: " + points;
					
					document.getElementById("answerButton").innerHTML = "Next";
					// show the user that he did something right for once
					style += "border-color: green";
				} else {
					style += "border-color: red";
				}
				document.getElementById("answer").style = style;

			} else {
				document.getElementById("answer").style = 'border-style: none';
				playPause();
			}
		}

		function newNumber() {
			// choose if we will go from hex to dec or from dec to hex
			taskDir = Math.floor(Math.random() * 2);
			dec = Math.floor(Math.random() * 256);
			if (taskDir == 1) { // translate from hex to dec
				hex = dec.toString(16);
				document.getElementById("info").innerHTML = "Hexadecimal: " + hex;
			} else { // translate from dec to hex
				hex = "";
				document.getElementById("info").innerHTML = "Decimal: " + dec;
			}
			document.getElementById("answer").focus();
		}

		function playPause() {
			document.getElementById("answerButton").innerHTML = "Answer";
			document.getElementById("playPauseButton").innerHTML = "Skip";
			setTimerIsRunning(true);
			newNumber();
			clearInterval(timer);
			counter = updateTime;
			timer = setInterval(Timer, 1000);
			
		}

		function add_xp(xp) {
			if (xp <= exercicesDone * (updateTime -1)) {
				$.ajax({
					url: "{% url 'users:add_xp' %}",
					data: {
						'xp': xp 
					},
					dataType: 'json',
				});
			} else {
				console.log("You fool! FUCK YOU");
			}
		}
	</script>

</head>
<body>
	{% if not user.is_authenticated %}
		<div style="margin-top: 4vh;" class="heading">
			<h1>Hexadecimal trainer</h1> 
			<hr>
		</div>

		<div class="buttonContainer text">
			<div id="login" class="buttontext"><a role="button"  class="buttontext" href="{% url 'login' %}">Login</a></div>
			<div id="signup" class="buttontext"><a role="button"  class="buttontext" href="{% url 'users:signup' %}">SignUp</a></div>
		</div>

    {% else %}
	   <div class="top-bar">
		
		<div class="top-nav">
       		<a role="button" href="{% url 'users:logout' %}">Logout</a>
			<a role="button" href="{% url 'home:scoreboard' %}">Scoreboard</a>
		</div>
		<div class="top-name">
			<p class="text" id="name"> You are logged in as <a role="button" href="{% url 'users:profile_detail_view' user.id %}"> {{ user.username }}</a></p>
		</div>
		
	   </div>	
		<br>
        <br>

		<div class="trainer">
			<h4 class="heading"> Hexadecimal trainer </h4>
			<hr>
		<div class="container">	
			<h5 class="highlighted text" id="points">Points: 0</h5>
			
			<p class="text" id="info">Info</p>
			
			<input type="text" id="answer"/>


			<p class="text" id="numberOfExercices">Task: 1 / 10</p>
			<p class="text" id="remainingTime">Time: </p>

		</div>
		<div class="buttonContainer">		
			<button id="playPauseButton" class="buttontext" onclick='playPause()'>Play</button> <!-- das ist von bootstrap dieses btn btn-sm etc. also kannste einfach wegmachen-->
			<button id="answerButton" class="buttontext" onclick="compare()">Answer</button>
			<!-- where is it?-->
		</div></div>
				

    {% endif %}
</body>

{% endblock %}


