{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<link rel="stylesheet" href="{% static 'style.css' %}">
	<script src="https://kit.fontawesome.com/59bafbd7cf.js" crossorigin="anonymous"></script>
	
	<title>Hexadecimal Trainer</title>
</head>
<body>
	<div class="base">

				{% block content %}
				{% endblock %}

	</div>
	<div class="footer"><p>Leon Hellmich, Fabian Bebber 2020 V1.0</p></div>
</body>
</html>